<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
-->
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CTCLProj.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
      <add name="connfp" connectionString="Data Source=50.0.0.37;Initial Catalog=FinancialPlanningUAT;User Id=crm1234;Password='crm@123';" providerName="System.Data.SqlClient" />

      <add name="SQLConn_FOCM" connectionString="Data Source=VITCO32\SQLEXPRESS;Initial Catalog=EasyTradez;User ID=sa;Password=tradingdb" providerName="System.Data.SqlClient" />
      <add name="SQLConn_CD" connectionString="Data Source=VITCO32\SQLEXPRESS;Initial Catalog=EasyTradez_CD;User ID=sa;Password=tradingdb" providerName="System.Data.SqlClient" />
      <add name="DBWHDB1ACMCompare" connectionString="Server=whdb1;Database=ACMCompare;User=ACMWEB;password=P0rt@l;Connection Timeout=0;Max Pool Size=200" providerName="System.Data.SqlClient" />

      <!--<add name="SQLConn" connectionString="Data Source=tradedb.acmdc.com;Initial Catalog=EasyTradez;User ID=sa;Password=acmiil@1234" providerName="System.Data.SqlClient" />-->
		<add name="SQLConn" connectionString="Data Source=uat-tradedb;Initial Catalog=EasyTradez;User ID=sa;Password=acmiil@1234" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
      <add key="hFldPopupOperation" value="FPWD" />
      <add key="hFldOpenPopupId" value="modForgotPwd" />
      <add key="POPUP_FORCELOGOUT" value="modForceLogout" />
      <add key="POPUP_MPINVALIDATE" value="modMpinValidate" />
      <add key="POPUP_FORGOTPWD" value="modForgotPwd" />
      <add key="POPUP_CHANGEPWD" value="modChangePwd" />
      <add key="POPUP_SUCCESS" value="modSuccess" />
      <add key="hFldOtpVisible" value="F" />
      <add key="CtclEnabled" value="True" />
      <add key="AcmiilMPinServiceUrl" value="http://accountopening.investmentz.co.in/AcmiilService/" />
      <add key="AcmiilEkycUrl" value="http://accountopening.investmentz.co.in/eKYC/api/eKYCMaster/" />
	  <!--<add key="AcmiilEkycUrl" value="http://accountopening.investmentz.co.in/eKYC/api/eKYCMaster/" />-->
      <add key="BioUrl" value="https://boifundstock.investmentz.com/acmiilservice/BOIHome/BOIPage" />
      
      <add key="VitcoApiUrl" value="https://ctcl.investmentz.com/iCtclService/api/" />
      <add key="NewWebRedirectURL" value="https://www.investmentz.com/Home/explore-products" />
      <add key="NewIbtBaseURL" value="https://www.investmentz.com/" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
	  <add key="ACMApiBaseURL" value="http://accountopening.investmentz.co.in/" />
    </appSettings>
    <system.web>
        <compilation debug="true" targetFramework="4.5.2" />
        <httpRuntime targetFramework="4.5.2" />
    </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAuthenticateService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticateService" contract="com.investmentz.ekyctest.IAuthenticateService" name="BasicHttpBinding_IAuthenticateService" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <CTCLProj.Properties.Settings>
      <setting name="CTCLProj_com_investmentz_ekyctest_AuthenticateService" serializeAs="String">
        <value>http://accountopening.investmentz.co.in/AcmiilService/AuthenticateService.svc</value>
      </setting>
    </CTCLProj.Properties.Settings>
  </applicationSettings>
</configuration>
